= javascript_include_tag 'datatables/jquery.dataTables.min.js'
= javascript_include_tag 'datatables/dataTables.bootstrap.js'
= javascript_include_tag 'datatables/dataTables.buttons.min.js'
= javascript_include_tag 'datatables/buttons.bootstrap.min.js'
= javascript_include_tag 'datatables/jszip.min.js'
= javascript_include_tag 'datatables/pdfmake.min.js'
= javascript_include_tag 'datatables/vfs_fonts.js'
= javascript_include_tag 'datatables/buttons.html5.min.js'
= javascript_include_tag 'datatables/buttons.print.min.js'
= javascript_include_tag 'datatables/dataTables.fixedHeader.min.js'
= javascript_include_tag 'datatables/dataTables.keyTable.min.js'
= javascript_include_tag 'datatables/dataTables.responsive.min.js'
= javascript_include_tag 'datatables/responsive.bootstrap.min.js'
= javascript_include_tag 'datatables/dataTables.scroller.min.js'