/ [if lt IE 9]
  = javascript_include_tag 'https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js'
  = javascript_include_tag 'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'

/ Core Scripts
= javascript_include_tag 'jquery.min.js'
= javascript_include_tag 'bootstrap.min.js'

/ bootstrap progress js
= javascript_include_tag 'progressbar/bootstrap-progressbar.min.js'
/ icheck
= javascript_include_tag 'icheck/icheck.min.js'
/ pace
= javascript_include_tag 'pace/pace.min.js'

= javascript_include_tag 'custom.js'