/Bootstrap core CSS
= stylesheet_link_tag 'css/bootstrap.css'
= stylesheet_link_tag 'font-awesome/css/font-awesome.css'
= stylesheet_link_tag 'css/animate.min.css'

/Custom styling plus plugins
= stylesheet_link_tag 'css/custom.css'
= stylesheet_link_tag 'css/icheck/flat/green.css'